body {background-color:#161616;}

.Image {float:left;
	position:relative;
	height:480px;
	width:350px;}

img   {	height:100%;
	width:100%;
	position:absolute;}

.Text_over_image{position:absolute;
		 background-color:rgba(0,0,0,0.8);
		 height:100%;
		 width:100%; }

.empire{position:"top-left";
  	color:#B2B2B2;
        padding:50px;
	font-size:11px;}

sup{color:#F13953;}

.Join{	color:#B2B2B2;
	position:absolute;
	left: 50px ;
	top: 90px;
	font-size:18px;}

.We{	color:#B2B2B2;
	position:absolute;
	left: 50px ;
	top: 110px;
	font-size:18px;}

.info{	position:absolute;
	bottom:47px;
	left:47px;}

span{	color:#F13953;
	font-size:9px;
	padding:3px;}

.Form {	float:left;
	position:relative;
	height:480px;
	width:350px;
	background-color:#F4F4F4;
	position:relative;}
     
form{	position:absolute;
	left:50px;
	top:90px;}

.Heading{ font-size:7px;
	  color:#C8C8C8;
	  padding-top:10px;
	}

input[type=text]{ border:none;
		  border-bottom:1px solid #C8C8C8;
		  background-color:#F4F4F4;
		  font-size:11px;
		  width:80%;
		  padding:5px 5px 5px 0px;
		  box-sizing:border-box;
		  }

input[type=password]{ border:none;
		      border-bottom:1px solid #C8C8C8;
		      background-color:#F4F4F4;
                      color:#F13953;
		      width:80%;}

input[type=button]{ border:none;
		    border-radius:10px;
		    background-color:#F13953;
		    font-size:8px;
		    color:white;
		    width:100px;
		    padding:5px;
 		    float:left;
		    margin-left:0px;
                    margin-top:50px;}

.Link{	text-decoration:underline ;
	color:#C8C8C8;
	margin-top:55px;
	float:right;
	margin-right:90px;
	font-size:10px;}
.All{	position:absolute;
	left:25%;
	top:18%;}